[submodule "emacs.d/site-lisp/markdown-mode"]
	path = emacs.d/site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs.d/site-lisp/ruby-mode"]
	path = emacs.d/site-lisp/ruby-mode
	url = git://github.com/AndreaCrotti/ruby-mode-mirror.git
[submodule "emacs.d/site-lisp/php-mode"]
	path = emacs.d/site-lisp/php-mode
	url = git://github.com/ejmr/php-mode.git
[submodule "emacs.d/site-lisp/haml-mode"]
	path = emacs.d/site-lisp/haml-mode
	url = https://github.com/nex3/haml-mode
