[submodule "emacs.d/site-lisp/markdown-mode"]
	path = emacs.d/site-lisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "emacs.d/site-lisp/ruby-mode"]
	path = emacs.d/site-lisp/ruby-mode
	url = git://github.com/AndreaCrotti/ruby-mode-mirror.git
