[submodule "emacs.d/rails-reloaded"]
	path = emacs.d/rails-reloaded
	url = http://github.com/dima-exe/emacs-rails-reloaded.git
[submodule "emacs.d/ruby-emacs"]
	path = emacs.d/ruby-emacs
	url = http://github.com/smtlaissezfaire/ruby-emacs.git
[submodule "emacs.d/markdown-mode"]
	path = emacs.d/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "config/awesome/awesome-freedesktop"]
	path = config/awesome/awesome-freedesktop
	url = git://github.com/terceiro/awesome-freedesktop.git
